/salmon-notify

# Created by https://www.gitignore.io/api/go,vim,emacs,visualstudiocode
# Edit at https://www.gitignore.io/?templates=go,vim,emacs,visualstudiocode

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.dll
*.dylib
*.elc
*.exe
*.exe~
*.out
*.rel
*.so
*.test
*_archive
*_flymake.*
*~
.\#*
.cask/
.dir-locals.el
.history
.netrwhist
.org-id-locations
.projectile
.vscode/*
/.emacs.desktop
/.emacs.desktop.lock
/Godeps/
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
/vendor/
Session.vim
Sessionx.vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
\#*\#
auto-save-list
dist/
flycheck_*.el
tags
tramp

# End of https://www.gitignore.io/api/go,vim,emacs,visualstudiocode
